<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%-5p %d{yyyy-MM-dd HH:mm:ss.SSS 'GMT'Z} %c{1} [%t] - %m%n</pattern>
        </encoder>
    </appender>
    <logger name="org.springframework" additivity="false" level="ERROR">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="DAILY"/>
    </logger>
    <logger name="org.pf4j.AbstractExtensionFinder" additivity="false" level="DEBUG">
        <appender-ref ref="CONSOLE"/>
    </logger>
    <logger name="org.pf4j.DefaultPluginManager" additivity="false" level="DEBUG">
        <appender-ref ref="CONSOLE"/>
    </logger>
    <logger name="org.pf4j.ManifestPluginDescriptorFinder" additivity="false" level="DEBUG">
        <appender-ref ref="CONSOLE"/>
    </logger>
    <logger name="org.springframework.beans.factory.support.DefaultListableBeanFactory" additivity="false" level="ERROR">
        <appender-ref ref="CONSOLE"/>
    </logger>
    <logger name="com.biit.activiti.logger.ActivitiEngineLogger" additivity="false" level="DEBUG">
        <appender-ref ref="CONSOLE"/>
    </logger>
    <logger name="org.pf4j.PluginClassLoader" additivity="false" level="DEBUG">
        <appender-ref ref="CONSOLE"/>
    </logger>
    <logger name="org.pf4j.Plugin" additivity="false" level="DEBUG">
        <appender-ref ref="CONSOLE"/>
    </logger>
    <logger name="org.pf4j.DefaultExtensionFactory" additivity="false" level="DEBUG">
        <appender-ref ref="CONSOLE"/>
    </logger>
    <logger name="org.pf4j.AbstractPluginManager" additivity="false" level="DEBUG">
        <appender-ref ref="CONSOLE"/>
    </logger>
    <root level="ERROR">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
